:root {
    box-sizing: border-box;
    color: white;
  }
  *, ::before, ::after {
    box-sizing: inherit;
  }
  body {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_960_720.jpg);
  }
  #header {
    background-color: black;
    padding: 5px;
    font-family: 'Cookie', cursive;
  }
  #logo {
    float: left;
    width: 20%;
  }
  #logo img {
    width:60px;
    margin-left: 10px;
  }
  .navbar {
    float:left;
    width:60%;
    text-align: center;
  }
  .navbar ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .navbar ul li a {
    color:white;
    font-size: 1.4rem;
  }
  .navbar ul li a:hover{
    color:#FFD77F;
  }
  .contact {
    float:left;
    width:20%;
  }
  .contact .tel {
    font-size: 1.2rem;
    margin: 25px auto 0px;
  }
  .clearfix::after {
    display: block;
    content: " ";
    clear: both;
  }

  .slider-box{
    height: 200px;
    background-color: black;
    opacity: 0.9;
  }
  .slider-half-item{
    width: 50%;
    float: left;
    height: 100%;
    font-family: cursive, Geneva, Tahoma, sans-serif;
  }
  .slider-half-item article {
    margin: 2rem;
  }

  .slider-half-item article .button-section {
    margin-top: 1rem;
  }
  .slider-half-item .button {
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    margin: 2px;
    font-size: 0.7rem;
  }
  .order-button {
    color: #7FD7FF;
    border: 2px solid #7FD7FF ;
  }
  .book-button {
    color: #FFD77F;
    border: 2px solid #FFD77F ;
    background-color: #936c02;
  }
  .book-button:hover, .order-button:hover {
    background-color: #333333;
  }
  .pizza-img {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .advantages-box {
    background-color: transparent;
  }
  .advantages-one-third {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
  }
  .column-advantage {
    position: relative;
    height: 160px;
    border: 5px solid black;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: cursive;
  }
  .best-ingredients {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
    
  }
  .original-recipe {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");
    
  }
  .fast-delivery {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/15/01/00/prague-2852349_960_720.jpg");
    
  }
  .bottom-right{
    position:absolute;
    right:10px;
    bottom:10px;
  }
  .kitchen-menu{
    background-color: black;
    opacity: 0.9;
  }
  .menu-one-forth{
    width:25%;
    float: left;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
  }
  .menu-one-forth img {
    width:100%;
  }
  .page-footer {
    width:100%;
    background-color: black;
    opacity:0.9;
    font-family: 'Cookie', cursive;
  }